.pageNumber.selectedPage {
    font-weight: bold;
    font-size: 120%;
}

.pageNumber {
    font-size: 100%;
    padding: 2px;

}
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
    width: 90px;
    height: 40px;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.paginator {
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
    
}

